@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

:root {
	--primary: #7678ed;
	--secondary: #3d348b;
	--border: 2px solid var(--primary);
	--radius: 0.5rem;
	--shadow: 0 0 0.5rem #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", Arial, sans-serif;
}

body {
	min-height: 100dvh;
	width: 100dvw;
	padding-top: 3rem;
	overflow-x: clip;
	color: #fff;
	background-color: var(--primary);
}

/* Headings */
h2,
h3 {
	text-align: center;
}

section {
	max-width: 1100px;
}
